@import "./../../../styles/variables.scss";

.calendar {
  width: 300px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0 10px 10px;

  button {
    border: none;
    background-color: $background-color;
    padding: 0 0.5rem;
    border-radius: 1rem;
    font-weight: $font-bold;
    color: $text-color;
    font-size: 1rem;
    cursor: pointer;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: $font-bold;
    margin: 0;
  }
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: end;
}

.day-label,
.day,
.empty-day {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

.day-label {
  color: #fff;
}

.day {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.day:hover {
  color: #fff;
}

.empty-day {
  background-color: #f0f0f0;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .calendar {
    max-width: 100%;
  }
}
