.dashboardContainer {
  .leave {
    position: relative;

    .leaveCard {
      display: flex;
      position: absolute;
      justify-content: space-evenly;
      align-items: stretch;
      gap: 1.5rem;
      padding: 2rem;
      margin-top: 5.5rem;
      width: 100%;
    }
  }
}
